//colors
$c-green: #35ce8d;
$c-pink: #e2b6cf;
$c-black: #0c1618;
$c-lightBlack: #1c2527;
$c-blue: #247ba0;
$c-orange: #ff934f;
//fonts
$f-rock: "Rock 3D", system-ui; ;
$f-ojuju: "Ojuju", sans-serif;
